body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/*menu*/
#menu,
#menu ul,
#menu ul li,
#menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu:after,
#menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#menu ul {
  background: #ffffff;
}
#menu > ul > li {
  float: left;
}
#menu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#menu.align-right > ul > li {
  float: right;
}
#menu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#menu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#menu > ul > li.active > a,
#menu > ul > li:hover > a,
#menu > ul > li > a:hover {
  color: #ffffff;
}
#menu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#menu > ul > li.active > a:after,
#menu > ul > li:hover > a:after,
#menu > ul > li > a:hover:after {
  background: #47c9af;
}

.title{
	text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


/*titulo*/
.divCursos{
	height: 200px;
 	/*background: linear-gradient(#EEF3F7, #cedce7);*/
  background: rgb(138,237,217);
  background: linear-gradient(0deg, rgba(138,237,217,1) 60%, rgba(119,237,213,1) 98%, rgba(71,201,175,1) 100%);
 	overflow: hidden;
}

.divCursos #title{
 color: black;
 font-family: 'lato',sans-serif;
 font-weight: 300;
 font-size: 50px;
 letter-spacing: 10px;
 padding-left: 20px;
 margin-top: 110px;
} 

/*separador*/

.separador{
  font: 26px sans-serif;
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 1;
}

  .separador:before {
    border-top: 2px solid #47c9af;
    content: "";
    margin: 0 auto;
    position: absolute; 
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
    overflow: hidden;
  }

  .separador span {
    background-color: white;
    padding: 0 15px;
  }

/*cards*/

.container{
    width: 100%;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}

.container .card{

    padding: 10px;
    border: 0.5PX solid lightgray;
    width: 250px;
    height: 230px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 100px;
    height: 100px;
}


.container .card h4{
    font-weight: 600;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
}

.botao {
 background:linear-gradient(-65deg, #47c9dF 0%, #47c9af 100%);
 border-radius:22px;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:15px;
 font-weight:bold;
 font-style:italic;
 padding:10px 48px;
 text-decoration: none;
}
.botao:hover {background:linear-gradient(to bottom, #47c9af 5%, #4fe3c5 100%);}
.botao:active {
 position:relative;
 top:1px;
}
.botao_off{
 background-color: gray;
 border-radius:22px;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:15px;
 font-weight:bold;
 font-style:italic;
 padding:10px 48px;
 text-decoration: none;
}

#myInput {
  width: 300px;
  font-size: 16px;
  margin-top: 25px;
  padding: 12px 0px 12px 10px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}