
/*card*/

.containerLoad{
    width: 100%;
    max-width: 1300px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
}

.containerLoad .cardLoad{
    background-color: white;
    padding: 10px;
    border: 0.5PX solid lightgray;
    width: 350px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.containerLoad .cardLoad #imgPreview{
	margin-top: 30px;
  width: 200px; border-radius: 50%; border: 2px solid #47c9af;
}

.containerLoad .cardLoad a {
    font-weight: 500;
    text-decoration: none;
}

.botaoLoad {
 background:linear-gradient(-65deg, #47c9dF 0%, #47c9af 100%);
 border-radius:22px;
 display:inline-block;
 cursor:pointer;
 color:#ffffff;
 font-family:Arial;
 font-size:15px;
 font-weight:bold;
 font-style:italic;
 padding:10px 48px;
 text-decoration: none;
}
.botaoLoad:hover {background:linear-gradient(to bottom, #47c9af 5%, #4fe3c5 100%);}
.botaoLoad:active {
 position:relative;
 top:1px;
}

.username #UserImg{
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  border: 1px solid #47c9af;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 10px;
  left: 78%;
  top: 55px;
  position: fixed;
  z-index: 1;
}

.username:hover #UserImg { visibility: visible; }

.user {
  position: fixed;
  left: 80%;
  top: 5px;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #47c9af;
  color: #fff;
  
}

.InputName {
  padding:10px;
  display:block;
  border:none;
  border-bottom:1px solid #47c9af;
  width:300px;
  margin: 10px;
}

.inputImg{ display: none;}

.labelImg{
  position: relative;
  right: -30px;
  background-color: #fff;
}